@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Reem+Kufi:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #064e3b;
  --color-primary-hover: #047857;
  --color-accent: #d97706; /* Le doré */
  --color-bg-light: #fdfbf7; /* Un blanc légèrement cassé, style vieux papier/parchemin */
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Amiri', serif; /* Amiri pour la lecture (textes longs) */
  background-color: var(--color-bg-light);
  /* Un subtil motif géométrique islamique en filigrane (opacité très faible) */
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23064e3b' fill-opacity='0.03'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  direction: rtl;
  margin: 0;
  padding: 0;
}

/* Classe personnalisée pour appliquer la police Kufi (Titres et UI moderne) */
.font-kufi {
  font-family: 'Reem Kufi', sans-serif;
}
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }